
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: left;
}
li a{
    display: block;
    padding: 8px;
}

select .view_method{
    size: 10;
    columns: 10;
}