body{
    background-color: white;
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Oswald', sans-serif;
}
h1{
    text-transform:uppercase;
    font-weight:normal;
    font-size: 20px;
}
h2{
    font-weight:normal;
    padding-left: 1%;
}
/*nav{
    top: 0;
    position: fixed;
    width: 100%;
    height: 200px;
    background-color: #fff;
}*/

/*.top{
    height: 100px;
    background-color:rgb(139,26,26);
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    max-width: 960px;
}*/
#container{
    top: 0;
    position: fixed;
    width: 100%;
    background-color: white;
}
#top-bar{
    width:920px;
    height: 35px;
    padding:20px;
    background: rgb(139,26,26);
    margin-left: auto;
    margin-right: auto;
}
#top-bar h1  {color:white;}

#nav{
    width:960px;
    height: 35px;
    background:#666;
    color:#fff;
    margin-left: auto;
    margin-right: auto;
}
#nav ul{
    display: flex;
    height:35px;
    align-items: center;
    list-style-type: none;
    margin: 0;
}
#nav li:hover{
    height: 35px;
    background:#333;
}
.logo{
    display: inline-block;
    cursor: pointer;
    height: 100px;
    width: 160px;
}
.logo img{
    height: 100px;
    width: 160px;
    margin: auto;
}

.description {
    font-size: 20px;
    text-align: center;
    padding: 10px;
    padding-left: 0px;
    padding-right: 0px;
    color:#666;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    }
.description::first-letter{
    font-size: 40px;
    font-weight: bolder;
}

.hr{color:#666;
    text-align: center;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.halfhr{
    color:#666;
    width:450px;
    float:left;
}

.middle {
    /*padding-top: 15px;*/
    width: 960px;
    margin: auto;
    color: black;
    margin-top: 320px;
}

.group_name{
    width:500px;
    display: inline-block;
}

#contenitore{
  width: 500px;
  float: left;
  display: inline-block;
}

#filmdescr{
    width: 450px;
    height:auto;
    overflow: hidden;
    float: left;
    display:inline-block;
    margin-top:60px;
    right: 300px;
    border: 2px solid white;
    position: fixed;
    /*bisogna sistemare la posizione fissa*/
}

/***attributi della searchbar***/
#searchbar{
  width: 450px;
  height: 40px;
  display: inline-block;
}
#sbarinput{
  width: 360px;
  height: 40px;
  font-size: 19;
  /*display: none;*/
}
#searchbutton{
  width: 80px;
  height: 40px;
  padding: 7px 12px;
  /*display: none;*/
  color: white;
  background-color: rgb(139,26,26);
  font-size: 22;
  text-align: center;
  cursor:pointer;
}
#searchbutton:hover{
  background-color: rgb(47,79,79);
  box-shadow: 0px 0px 8px 3px rgb(0,0,0,0.3);
}
#barinfo{
  font-size: 19;
  color:#666;
}
#barinfo::first-letter{
    font-size: 25px;
    font-weight: bolder;
}


.descr_icon{
    display:inline-block;
    margin:auto;
}

.middle ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
/*immagini locandina ridimensionate tutte alla stessa altezza e larghezza*/
.filming img{
    widows: 220px;; 
    height:242px;
}
.filming img:hover{
    width:185px;
    height:252px;
}

.film_icon li {
    padding: 10px;
    padding-left: 2px;
    padding-right: 2px;
    display: inline-block;
    cursor: pointer;
}
.film_icon li:first-of-type{
    padding-left: 0;
}

.list {
    -webkit-box-flex: 0;
    -ms-flex: 0 20rem;
    flex: 0 20rem;
  }

.list__item {
    position: relative;
    margin-right: 25px;
}

.radio-btn {
    display: none;
}

.label {
    display: flex;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
    color: #fff;
    font-size: 1.25rem;
    text-transform: uppercase;
    cursor: pointer;
}
.label::before {
    display: block;
    height: 1.125rem;
    width: 1.125rem;
    margin-right: 0.625rem;
}
