



html,body{margin:0;padding:0;}
body{margin:0; padding:0;background: white; color: #666;font: 16px/28px;font-family: 'Open Sans', sans-serif; line-height:22px;}
h1,h2{font-family:oswald;text-transform:uppercase;font-weight:normal;}
a{color:#21aabd;text-decoration:none;}
a:hover{color:#333;text-decoration:underline;}


    #container      {width: 960px;margin: 0 auto;background:white}

        /*** Header ***/
        #header         {width:920px;padding:20px;background:#21aabd;}
            #header h1  {color:white;}

        /*** Nav ***/
        #nav            {width:960px;background:#666;color:#fff;}
            #nav a      {color:#fff; padding:15px 20px;display:inline-block; text-decoration:none; text-transform:uppercase;font-family:oswald;}
            #nav a:hover{background:#333;}  /*quando si passa sul testo si scurisce*/

        /*** Slider ***/
        .slider-wrapper {width:100%;}

        /*** Contenuto evi ***/
        .item-evi       {width:190px;padding:20px;float:left;}

        /*** Messaggio ***/
        #mes-full       {width:920;padding:20px;clear:both;background: #e2e2e0;}
            #mes-full p {font-family:oswald;text-transform:uppercase;font-weight:normal;font-size: 28px;}

        /*** Contenuto ***/
        #content        {width:620px;padding:20px;float:left;}
            #content .articolo  {border-bottom:1px solid #eee;min-height:190px;padding:0px 0 10px 0;}
            #content .articolo img{float:left;margin: 0 20px 0 0;}

            #content .last      {border-bottom:none;}

        /*** Sidebar ***/
        #sidebar        {width:260px;padding:20px;float:left;}

        /*** Footer ***/
        #footer         {width:920px;padding:20px;clear:both;background: #666;color:#fff}


/* Clear */
.clear{width:100%;clear:both;height:1px;background:#eee;}
